<?php

$aliases['{{ sitename }}.local'] = array(
  'uri' => 'http://localhost',
  'root' => '{{ container_webserver_root }}{{ sitename }}/{{ container_site_install_directory }}',
);

# from https://www.chapterthree.com/blog/drupal-development-docker-compose
$aliases['se3_blt.docker'] = array(
  'uri' => 'http://se3_blt.local:9000',
  'root' => '/var/www/se3_blt/docroot',
  'remote-user' => 'root',
  'remote-host' => '192.168.88.88',
  'ssh-options' => '-p 2020 -o PasswordAuthentication=no -i ~/.ssh/acquia_id_rsa',
  'path-aliases' =>
  array (
    '%drush' => '/var/www/se3_blt/vendor/bin/drush',
  ),
);
