<?php

$aliases['{{ sitename }}.local'] = array(
  'uri' => 'http://localhost',
  'root' => '{{ container_webserver_root }}{{ sitename }}/{{ container_site_install_directory }}',
);

# from https://www.chapterthree.com/blog/drupal-development-docker-compose
$aliases['{{ sitename }}.docker'] = array(
  'remote-host' => '{{ container_ip_address }}',
  'remote-user' => 'root',
  'ssh-options' => '-p {{ localhost_ssh_port }} -o \'UserKnownHostsFile /dev/null\' -o \'StrictHostKeyChecking no\' -o \'PasswordAuthentication no\' -o \'IdentitiesOnly yes\' -o \'LogLevel FATAL\'',
  'root' => '{{ container_webserver_root }}{{ sitename }}/{{ container_site_install_directory }}',
  'path-aliases' =>
  array (
    '%drush-script' => 'drush-remote',
  ),
  'uri' => 'http://{{ sitename }}:{{ localhost_http_port }}',
);
