---
# STATE

status "Installing Chrome 59.0.3071.104"
docker exec $DRUPALVM_MACHINE_NAME sudo apt-get install libxss1 libappindicator1 libindicator7 vim wget -y
docker exec $DRUPALVM_MACHINE_NAME wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb

# Unpackaging chrome returns an error because it is missing dependencies, which is not a problem,
# We install them a moment later.  So adding || true to be sure this behavior does not quite the script.
docker exec $DRUPALVM_MACHINE_NAME sudo dpkg -i google-chrome-stable_current_amd64.deb || true
docker exec $DRUPALVM_MACHINE_NAME sudo apt-get -f install -y
docker exec $DRUPALVM_MACHINE_NAME google-chrome --version

status "Installing Chromedriver"
docker exec $DRUPALVM_MACHINE_NAME wget https://chromedriver.storage.googleapis.com/2.30/chromedriver_linux64.zip
docker exec $DRUPALVM_MACHINE_NAME unzip chromedriver_linux64.zip
docker exec $DRUPALVM_MACHINE_NAME sudo mv -f chromedriver /usr/local/share/chromedriver
docker exec $DRUPALVM_MACHINE_NAME sudo ln -s /usr/local/share/chromedriver /usr/local/bin/chromedriver
docker exec $DRUPALVM_MACHINE_NAME sudo ln -s /usr/local/share/chromedriver /usr/bin/chromedriver
status "Starting Selenium"
docker exec $DRUPALVM_MACHINE_NAME service selenium start
