# Attempting to override DrupalVM default variables
drupal_domain: "{{ sitename }}"
drupal_db_user: "{{ sitename }}"
drupal_db_password: "{{ sitename }}"
drupal_db_name: "{{ sitename }}"

# Path information
drupal_core_path: "{{ container_webserver_root }}{{ sitename }}/{{ container_site_install_directory }}"

# DrupalVM override: do not install a vanilla Drupal site
drupal_build_composer_project: false
drupal_build_composer: false
drupal_composer_path: false
drupal_install_site: false

# DrupalVM override: we need a drush alias in site-aliases
# I think; this installs an alias in /root/.drush
# But it would be nice if blt could find the alias in /root/.drush
# So that we wouldn't have to touch the build repo
configure_drush_aliases: true

installed_extras:
  - drush
  - selenium

php_version: "{{ container_php_version }}"
php_memory_limit: "1024M"

# Set selenium version and do not install Chrome yet
selenium_install_chrome: yes
selenium_version: "2.47.1"
